.image_container {
  height: 80%;
  margin-left: 0px;
  width:100%;
}

.image {
  margin-top: 6%;
  border: none;
}

.image_comment {
  bottom: 6%;
  font-size: 20px;
  width: 100%;
  padding-left: 1%;
}

.all_buttons {
  width: 45%;
  left: 38%;
}

.back_buttons {
  margin-right: 85%;
  font-size: 1.5em;
  left: 3%;
}

.back_button {
  right: 0%;
}

.mp_buttons {
  top: 50%;
  font-size: 20px;
}

.state_buttons {
  left: 30%;
  font-size: 20px;
}

.country_buttons {
  left: 30%;
  font-size: 20px;
}

.nav_arrows {
  top: 46%;
  font-size: 2.5em;
}

.image_nav_right {
  right: -6%;
}

.image_nav_left{
  right: 89%;
}

.landscape_back_button {
  display: none;
}

.about_info {
  right: 97px;
}

.comment_toggle {
  display: none;
}

.image_loader {
  top: 48%;
  left: 48%;
  font-size: 2.5em;
}