.container {
  width: auto;
}

.image {
  width: 100%;
  height: 100%;
}

.image_comment {
  width: 100%;
  font-size: 30px;
}

.image_nav_right{
  top: 40%;
  float: right;
  opacity: 0.8;
}

.image_nav_left{
  top: 40%;
  right: 89%;
  opacity: 0.8;
}

.back_buttons {
  margin-left: 90%;
  font-size: 2em;
}

.mp_buttons {
  font-size: 25px;
}

.country_buttons {
  height: 15%;
  top: 10%;
  font-size: 25px;
}

.state_buttons {
  height: 15%;
  top: 10%;
  font-size: 25px;
}

.map_nav_left {
  right: 84%;
  font-size: 3em;
}

.map_nav_right {
  font-size: 3em;
}

.landscape_back_button {
  display: none;
}

.nav_arrows {
  font-size: 3em;
}

.image_loader {
  top: 40%;
  left: 48%;
  font-size: 2.5em;
}

.nav_arrows_group {
  position: absolute;
  width: 100%;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  margin-top: auto;
  margin-left: auto;
}

.polaroid {
  width: 80%;
  height: 65%;
  top: 15%;
}

.polaroid-img {
  left: 20px;
}