.image {
  border: none;
}

.image_comment {
  font-size: 22px;
  width: 100%;
  padding-left: 1%;
}

.back_buttons {
  margin-right: 85%;
  font-size: 1.5em;
  left: 3%;
}

.back_button {
  right: 0%;
}

.mp_buttons {
  font-size: 20px;
}

.state_buttons {
  font-size: 20px;
}

.country_buttons {
  font-size: 20px;
}

.nav_arrows {
  top: 46%;
  font-size: 2.5em;
}

.nav_arrows_group {
  position: absolute;
  width: 100%;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  margin-top: auto;
  margin-left: auto;
}

.image_nav_right {
  margin-right: 10%;
  float:right;
}

.image_nav_left{
  margin-left: 10%;
}

.landscape_back_button {
  display: none;
}

.comment_toggle {
  display: none;
}

.image_loader {
  top: 48%;
  left: 48%;
  font-size: 2.5em;
}

.polaroid {
  width: 60%;
  height: 80%;
  top: 10%;
}