html, body { height: 100%; width: 100%; margin: 0;}

  .body_container {
    height:100%;
    width: inherit;
    background-color: black;
    position: absolute;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
  }

	.hide {
		display: none !important;
	}

  .picture_section {
    height:33.3333%;
    background-color: #59a1b5;
  }

  .map_section {
    height:33.3333%;
    background-color: #7d5d6d;
  }

  .about_section {
    height: 33.3333%;
    background-color: #b8e698;
  }

  .section_big {
    display: block;
    height: 100%;
    overflow: auto;
  }

  .section_gone {
    height: 0%;
  }

/* buttons */

  .all_buttons {
    position:relative;
    vertical-align: middle;
    color: #0b7;
    display: inline-block;
    height: 60px;
    width: 50%;
    top: 55%;
    left: 55%;
    line-height: 60px;
    text-align: center;
    transition: 0.5s;
    padding: 0 20px;
    cursor: pointer;
    border: 2px solid #0b7;
    -webkit-transition:0.5s;
    font-family: 'Raleway', sans-serif
  }

  .all_buttons:hover {
    border: 2px solid #FFF;
    color: #FFF;
  }

  .all_buttons::before, .all_buttons::after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
  }

  .mp_buttons_group {
    height: 100%;
  }

  .picture_buttons {
    background-color: #59a1b5;
    color: #30626F;
    border: 2px solid #30626F;
  }

  .map_button {
    background-color: #7d5d6d;
    color: #4E3744;
    border: 2px solid #4E3744;
  }

  .about_button {
    background-color: #b8e698;
    color: #47583A;
    border: 2px solid #47583A;
  }

  .country_buttons {
    top: 20%;
    left: 25%;
    display: block;
    margin-bottom: 50px;
  }

  .state_buttons {
    display: block;
    top: 10%;
    left: 25%;
    display: block;
    margin-bottom: 50px;
  }

  .all_button_groups {
    height: 100%;
  }

  .back_buttons {
    position: absolute;
    float: right;
    width: 10%;
    margin-left: 85%;
    margin-top: 3%;
  }
  .back_buttons:hover{
    color: white;
    cursor: pointer;
  }

  .fa {
    text-shadow: none;
  }

  .landscape_back_button {
    display: none;
    position: absolute;
    right: 17%;
    color: #585252;
  }
  .landscape_back_button:hover{
    cursor: pointer;
  }

/*picture page*/

  .image_desc {
    position: absolute;
    top:90%;
    background-color: grey;
    color: white;
    width: inherit;
  }

  .image_comment {
    position: absolute;
    width: 86%;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-shadow: none;
  }

/*arrows*/

  .nav_arrows_button {
    height: 6%;
    width: 9%;
    cursor: pointer;
  }

/*image_slider*/

  .image_container {
    width: 85%;
    height: 40%;
    margin-left: 7%;
  }

  .image {
    height: 100%;
    width: 100%;
    margin-top: 35%;
    border: 2px solid white;
  }

  .image_nav_left {
    position: absolute;
    top: 63%;
    right: 12%;
    padding: 5px 10px 5px 10px;
  }
  .fa-chevron-circle-left:hover{
    color: white;
  }

  .image_nav_right {
    position: absolute;
    top: 63%;
    right: 0%;
    padding: 5px 10px 5px 10px;
  }
  .fa-chevron-circle-right:hover{
    color: white;
  }

  .o_image {
    display: none;
  }

  .o_comment {
    display: none;
  }

  .image_loading {
    display: none;
    background-repeat: none;
    position: absolute;
  }

  .comment_toggle {
    display: none;
    color: #9E9D9D
  }

/*maps*/

  .maps {
    position: absolute;
    height: 70%;
    width:70%;
    left: 15%;
    /*top:15%;*/
    border: 2px solid black;
  }
  #map1 {
    z-index: -1;
    top: 15%;
  }
  #map2 {
    z-index: -2;
    top: 15%;
  }

  .map_nav_left {
    position: absolute;
    top: 47%;
    right: 86%;
  }

  .map_nav_right {
    position: absolute;
    top: 47%;
    right: 3%;
  }

  .routes_title {
    position: absolute;
    top: 5%;
    left: 38%;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-shadow: none;
    color: black;
  }

  /* about page */

  .about_info {
    position: absolute;
    top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    right: 59px;
  }

/* For smaller displays like laptops */

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px;
  }

  .image {
    margin-top: 8%
  }

  .image_nav_left{
    top: 43%;
  }

  .image_nav_right{
    top: 43%;
  }

  .image_container {
    width: 75%;
    height: 70%;
    margin-left: 12%;
  }

  .image_comment {
    position: absolute;
    background-color: black;
    opacity: 0.7;
    color: white;
    bottom: auto;
    width: 75%;
    height: 5%;
    font-size: 20px;
  }
}

/*PC*/

@media only screen
and (min-width : 980px){

  .back_button {
    position: absolute;
    right: 0%;
    top: -25px;
  }

  .back_buttons {
    margin-right: 1%;
  }

  .back_3 {
    right: 0%;
    top: -25px;
  }

  .about_info {
    right: 105px;
  }

  .nav_arrows {
    top: 50%;
  }

  .image_nav_left {
    position: absolute;
    right: 82%;
    padding: 5px 10px 5px 10px;
  } 

  .image_nav_right {
    position: absolute;
    right: 1%;
    padding: 5px 10px 5px 10px;
  }

  .image_container {
    width: 75%;
    height: 80%;
    margin-left: 12%;
  }

  .image {
    margin-top: 8%;
  }

  .image_comment {
    background-color: black;
    opacity: 0.7;
    color: white;
    bottom: auto;
    width: 75%;
    height: 5%;
    font-size: 20px;
  }

  .all_buttons {

    left: 40%;
    width: 30%;
    height: 100px;
  }

  .country_buttons {
    left: 33%;
    width: 30%;
    height: 100px;
    top: 10%;
  }

  .state_buttons {
    left: 33%;
    top: 10%;
  }

  .maps {
    border: 4px solid black;
  }

  .routes_title {
    left: 48%;
  }

  .map_nav_left{
    right: 80%;
  }
}

/*ipad*/

@media only screen
  and (min-device-width: 768px) 
  and (max-device-width: 1280px)
  and (orientation : portrait) {

    .container {
        width: auto;
    }

    .image_container {
      width: 100%;
      height: 45%;
      margin-left: 0%
     }

    .image {
      width: 100%;
      height: 100%;
      margin-top: 25%;
    }

    .image_comment {
      width: 100%;
    }

    .image_nav_right{
      top: 40%;
      right: -4.4%;
      opacity: 0.8;
    }

    .image_nav_left{
      top: 40%;
      right: 89%;
      opacity: 0.8;
    }

    .back_buttons {
      margin-left: 90%;
      font-size: 2em;
    }

    .mp_buttons {
      height: 40%;
      left: 38%;
      top: 40%;
      font-size: 25px;
    }

    .country_buttons {
      height: 15%;
      top: 10%;
      font-size: 25px;
    }

    .state_buttons {
      height: 15%;
      top: 10%;
      font-size: 25px;
    }

    .routes_title {
      left: 45%;
    }

    .map_nav_left {
      right: 84%;
      font-size: 3em;
    }

    .map_nav_right {
      font-size: 3em;
    }

    .landscape_back_button {
      display: none;
    }

    .about_info {
      right: 81px;
    }

    .nav_arrows {
      font-size: 3em;
    }
  }

  /*ipad landscape*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {

    .image_container {
      height: 100%;
      margin-left: 0px;
      width:100%;
    }

    .image {
      margin-top: auto;
    }

    .image_back_button {
      display: none;
    }

    .image_comment {
      height: 5%;
      bottom: 0%;
      font-size: 20px;
      width: 100%;
      text-indent: 10px;
      height: 7%;
      padding-left: 5%;
      padding-top: 2%;
      display: none;
    }

    .all_buttons {
      width: 45%;
    }

    .back_buttons {
      margin-right: 85%;
      font-size: 1.5em;
      left: 3%;
    }

    .back_button {
      right: 0%;
    }

    .mp_buttons {
      top: 50%;
      font-size: 20px;
    }

    .state_buttons {
      left: 30%;
      font-size: 20px;
    }

    .country_buttons {
      left: 30%;
      font-size: 20px;
    }

    .nav_arrows {
      top: 43%;
      font-size: 2.5em;
    }

    .image_nav_right {
      right: -6%;
    }

    .image_nav_left{
      right: 89%;
    }

    .landscape_back_button {
      display: block;
      position: absolute;
      right: -14%;
      color: #585252;
      top: -27px;
      font-size: 1.5em;
    }

    .about_info {
      right: 97px;
    }

    .comment_toggle {
      bottom: 2.5%;
      position: absolute;
      font-size: 2.5em;
      left: 1%;
    }

    .comment_toggle_up {
      display: block;
    }

}

/*phone landscape*/

@media only screen
and (max-device-width : 750px) and (orientation: landscape){

  .image_container {
    height:100%;
    width: 100%;
    margin-left: 0%;
  }

  .image {
    margin-top: 0%;
    border: none;
  }

  .image_back_button {
    display: none;
  }

  .back_buttons {
    margin-left: 91%;
    margin-top: 1%;
  }

  .image_nav_left {
    right: 93%;
    opacity: 0.5;
  }

  .image_nav_right {
    right: -2%;
    opacity: 0.5;
  }

  .mp_buttons {
    left: 40%;
  }

  .country_buttons {
    top: 10%;
  }

  .image_comment {
    bottom: 0%;
    width: 100%;
    display: none;
    height: 7%;
    padding-left: 5%;
    padding-top: 2%;
  }

  .routes_title {
    top: 3%;
    left: 47%;
  }

  .nav_arrows {
    position: absolute;
    height: 9%;
    width: 5%;
    top: 40%;
  }

  .nav_arrows_button {
    height: 9%;
    width: 5%;
  }

  .map_nav_left {
    right: 87%;
  }

  .map_nav_right {
    right: 7%;
  }

  .landscape_back_button {
    display: block;
    position: absolute;
    right: 10%;
    color: #585252;
    top: -8px;
  }

  .about_info {
    right: 64px;
  }

  .comment_toggle_up {
    display: block;
  }

  .comment_toggle {
    position: absolute;
    bottom: 2.7%;
    opacity: 0.9;
    color: #7B7676;
    left: 1%;
  }

}
