.image {
  margin-top: 0%;
  border: none;
}

.image_back_button {
  display: block;
}

.back_buttons {
  margin-left: 91%;
  margin-top: 1%;
}

.image_nav_left {
  margin-left: 10%
}

.image_nav_right {
  float: right;
  margin-right: 10%;
}

.country_buttons {
  top: 10%;
}

.image_comment {
  width: 100%;
  height: 7%;
  padding-left: 5%;
  padding-bottom: 2px;
}

.nav_arrows_group {
  position: absolute;
  width: 100%;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  margin-top: auto;
  margin-left: auto;
}

.nav_arrows_button {
  height: 9%;
  width: 5%;
}

.map_nav_left {
  right: 87%;
}

.map_nav_right {
  right: 7%;
}

.landscape_back_button {
  display: none;
  position: absolute;
  right: 10%;
  color: #585252;
  top: -8px;
}

.about_info {
  font-size: 14px;
}

.comment_toggle_up {
  display: none;
}

.comment_toggle_down {
  display: none;
}

.comment_toggle {
  position: absolute;
  bottom: 2.7%;
  opacity: 0.9;
  color: #7B7676;
  left: 1%;
}

.image_loader {
  top: 46%;
  left: 48%;
}

.polaroid {
  width: 50%;
  height: 90%;
  top: 10px;
}

.polaroid-text {
  padding: 0;
}