.image_nav_left {
	top: 83%;
}

.image_nav_right {
	top: 83%;
}

.about_info {
	font-size: 14px;
}

.polaroid {
    width: 80%;
    height: 55%;
    top: 20%;
}

.polaroid-img {
	left: 9px;
}

.polaroid_text {
	font-size: 10px;
}

.nav_arrows_group {
    position: absolute;
    margin-top: 400px;
}